<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SurfaceToTUIO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SurfaceToTUIO.Properties.Settings>
            <setting name="RemoteHost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="RemotePort" serializeAs="String">
                <value>3333</value>
            </setting>
            <setting name="SendFingersAsBlobs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendFingersAlsoAsBlobs" serializeAs="String">
                <value>False</value>
            </setting>
        </SurfaceToTUIO.Properties.Settings>
    </userSettings>
</configuration>